<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/css/estilos.css">
<dom-module id="portafinve-app">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <style>
     :host {
       display: block;
     }
     .encabezado{
       color: black;
       font-size: 30px;
     }
     .pantallacompleta {
         z-index: -999;
         width: 100%;
         height: 100%;
         background-position: center center;
         position: fixed;
         top: 0;
         left: 0;
     }

   </style>
   <div class="container" hidden$={{logado}}>
     <div class="row">
       <h1 class="encabezado">Entra y haz crecer tu dinero</h1>
     </div>
     <div class="row">
       Email: <input type="email" value="{{email::input}}">
     </div>
     <div class="row">
       Password: <input type="password" value="{{password::input}}">
     </div>
     <div class="row">
       <button on-click="logar" class="btn btn-success">Login</button>
     </div>
     <div class="row">
       <br>
       <h2 > </h2>
       <br>
     </div>
     <div class="row">
       <h7 class="encabezado2">Aún no tienes cuenta con nosotros, regístrate ahora:</h7>
     </div>
     <div class="row">
       <button on-click="registrar" class="btn btn-success">Registrar</button>
     </div>
     <div class="row">
       <img class = "pantallacompleta" src="../../src/img/ahorro_login.jpg" alt="">
     </div>
   </div>
   <div class="container" hidden$={{!dentro}}>
     <div class="row">
       <h1 class="encabezado">Registra tus aportaciones y retiros</h1>
       <br>
     </div>
     <div class="row">
       <br>
       <h2 > </h2>
       <br>
     </div>
     <div class="row">
       Portafolio:<select value="{{portafolio::change}}" name="comboportafolio" id="comboportafolio">
         <option value="PBBVA1-" selected>PBBVA1-</option>
         <option value="PBBVA2">PBBVA2</option>
         <option value="PBBVA3+">PBBVA3+</option>
       </select
       <br>
       &nbsp; &nbsp; &nbsp;
       Operación: <select value="{{operacion::change}}" name="combooperacion" id="combooperacion">
         <option value=1 selected>Aportación</option>
         <option value=-1>Retiro</option>
       </select>
       <br>
       &nbsp; &nbsp; &nbsp;
       Importe: <input type="importe" value="{{importe::input}}">
       <br>
       &nbsp; &nbsp; &nbsp;
       <button on-click="inventir" class="btn btn-success">Invertir</button>
       <br>
        &nbsp; &nbsp; &nbsp;
       <button on-click="salir" class="btn btn-success">Salir</button>
       <br />
     </div>
     <div class="row">
       <br>
       <h3 > </h3>
       <br>
     </div>
     <div class="row">
       Tu saldo al dia de hoy es de: <input type="saldo" value="[[saldo]]" disabled>
       <br>
     </div>
     <div class="row">
       <br>
       <h4 > </h4>
       <br>
     </div>
     <div class="row">
       <br>
       <h5 > </h5>
       <br>
       <h6 > </h6>
       <br>
       <h7 > </h7>
       <br>
     </div>
     <div class="row">
        <button on-click="tipocambio" class="btn btn-success">Indicadores</button>
        &nbsp; &nbsp; &nbsp;
        Tipo de cambio del día: <input type="tcdolar" value="[[tcdolar]]" disabled>
        &nbsp; &nbsp; &nbsp;
        Tasa TIIE del día: <input type="tiie" value="[[tiie]]" disabled>
     </div>
     <div class="row">
       <img class = "pantallacompleta" src="../../src/img/ahorro_opera.jpg" alt="">
     </div>
   </div>
   <div class="container" hidden$={{!registrado}}>
     <div class="row">
       <h1 class="encabezado">Registrate</h1>
       <br>
     </div>
     <div class="row">
       <br>
       <h2 > </h2>
       <br>
     </div>
     <div class="row">
       Email: <input type="email" value="{{email::input}}">
       <br>
     </div>
     <div class="row">
       Password: <input type="password" value="{{password::input}}">
       <br>
     </div>
     <div class="row">
       Nombre: <input type="nombre" value="{{nombre::input}}">
       <br>
     </div>
     <div class="row">
       A. Paterno: <input type="apaterno" value="{{apaterno::input}}">
       <br>
     </div>
     <div class="row">
       A. Materno: <input type="amaterno" value="{{amaterno::input}}">
       <br>
     </div>
     <div class="row">
       <button on-click="guardar" class="btn btn-success">Guardar</button>
       &nbsp; &nbsp; &nbsp;
       <button on-click="regresar" class="btn btn-success">Regresar</button>
     </div>
     <div class="row">
       <img class = "pantallacompleta" src="../../src/img/ahorro_registrar.jpg" alt="">
     </div>
   </div>
 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class PortafinveApp extends Polymer.Element {
     static get is() { return 'portafinve-app'; }
     static get properties() {
       return {
         email: {
           type: String
         },
         password: {
           type: String
         },
         nombre: {
           type: String
         },
         apaterno: {
           type: String
         },
         amaterno: {
           type: String
         },
         portafolio: {
           type: String,
           value: "PBBVA1-"
         },
         operacion: {
           type: Number,
           value: 1
         },
         importe: {
           type: Number
         },
         saldo: {
           type: Number,
           value: 0
         },
         movimientos: {
           type: Array,
           notify: true
        },
        tiposcambios: {
          type: Array,
          notify: true
        },
        tcdolar: {
          type: Number,
          value: 0
        },
        tiie: {
          type: Number,
          value: 0
        },
         logado: {
           type: Boolean,
           value: false
         },
         dentro: {
           type: Boolean,
           value: false
         },
         registrado: {
           type: Boolean,
           value: false
         }
       }
     }

     logar() {
       console.log("Se ha pulsado el botón de login");
       var request = new XMLHttpRequest();
       var url = "http://localhost:3000/Login";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       request.setRequestHeader("email", this.email);
       request.setRequestHeader("password", this.password);
       request.send();
       this.respuesta = request.responseText;
       console.log(request.status);
       if (request.status == 200) {
         this.logado = true;
         this.dentro = true;
       } else {
         alert("Usuario y/o contraseña incorrecta");
         this.logado = false;
         this.dentro = false;
       }
     }

     registrar() {
       console.log("Se ha pulsado el botón de registrar");
       this.registrado = true;
       this.logado = true;
       this.dentro = false;
     }

     salir() {
       this.registrado = false;
       this.logado = false;
       this.dentro = false;
       this.email = "";
       this.password = "";
     }

     regresar() {
       this.registrado = false;
       this.logado = false;
       this.dentro = false;
       this.email = "";
       this.password = "";
     }

     guardar() {
       if (!/^([A-Za-z0-9.@_-])*$/.test(this.email) || this.email.length == 0){
          alert("Capture un correo válido");
          return false;
        }
        if (!/^([A-Za-z0-9.@_#$-])*$/.test(this.password) || this.password.length == 0){
           alert("Capture una contraseña válida");
           return false;
         }
       //console.log("Se ha pulsado el botón de guardar " + this.email.length + " " + this.password.length);
       var request = new XMLHttpRequest();
       var url = "http://localhost:3000/GuardaUser";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       var nuevoCliente = {"email":this.email,"password":this.password,"nombre":this.nombre,"apaterno":this.apaterno, "amaterno":this.amaterno};

       var body = JSON.stringify(nuevoCliente);
       console.log("antes " + request.status);
       request.send(body);
       this.respuesta = request.responseText;
       console.log("ZZZ " + request.status);
       console.log("ZZZ1 " + request.responseText);

       if (request.status == 200) {
         this.registrado = false;
         this.logado = false;
         this.dentro = false;
         this.password = "";
       } else {
          console.log("Error al guardar: " + request.status);
       }
     }

     inventir() {
       console.log("Se ha pulsado el botón de invertir");
      if (!/^([0-9.])*$/.test(this.importe) || this.importe == 0){
        //alert("El valor " + numero + " no es un número");
         alert("Capture un importe válido");
         return false;
       }
       var request = new XMLHttpRequest();
       var url = "http://localhost:3000/Invierte";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       var nuevaInversion = {"email":this.email,"portafolio":this.portafolio,"importe":parseFloat((this.importe * this.operacion),10)};

       var body = JSON.stringify(nuevaInversion);
       console.log("antes " + request.status);
       request.send(body);
       this.respuesta = request.responseText;
       console.log("ZZZ " + request.status);
       console.log("ZZZ1 " + request.responseText);
       //SaldoConsultar();

       url = "http://localhost:3000/Saldo";
       var x = 0;
       var total = 0;
       request.open("GET", url, false);
       //request.setRequestHeader("Accept", "application/json");
       //request.setRequestHeader("Content-Type", "application/json");
       request.setRequestHeader("email", this.email);
       request.send();
       this.movimientos = JSON.parse(request.responseText);
       console.table(this.movimientos);
       for (x=0;x<this.movimientos.length;x++){
         console.log(this.movimientos[x].importe);
         total = total + this.movimientos[x].importe;
         console.log("total " + total);
       }
       this.saldo=Math.round(total * 100)/100;
   }

   tipocambio(){
     var request = new XMLHttpRequest();
     var url = "http://localhost:3000/apipubget";
     var vserie_TC ="SF43718";
     var vserie_TIIE ="SF43783";
     request.open("GET", url, false);
     //request.setRequestHeader("Accept","application/json");
     request.send();
     this.tiposcambios = JSON.parse(request.responseText);
     console.log("aqui " + this.tiposcambios.bmx.series[0].idSerie);
     //console.log("aqui 0 " + this.tiposcambios.bmx.series[0].datos[0].dato);
     //console.log("aqui 1 " + this.tiposcambios.bmx.series[1].datos[0].dato);
     console.log("variables " + vserie_TC + " " + vserie_TIIE);
     if (this.tiposcambios.bmx.series[0].idSerie == vserie_TC){
       console.log("tiie en 1 ");
       this.tcdolar = this.tiposcambios.bmx.series[0].datos[0].dato;
       this.tiie = this.tiposcambios.bmx.series[1].datos[0].dato;
     }
     else {
        console.log("tiie en 0 ");
       this.tiie = this.tiposcambios.bmx.series[0].datos[0].dato;
       this.tcdolar = this.tiposcambios.bmx.series[1].datos[0].dato;
     }
   }
/*
   SaldoConsultar() {
     console.log("Se ha pulsado el botón de SaldoConsultar");
     var request = new XMLHttpRequest();
     var url = "http://localhost:3000/Saldo";
     var x = 0;
     var total = 0;
     request.open("GET", url, false);
     //request.setRequestHeader("Accept", "application/json");
     //request.setRequestHeader("Content-Type", "application/json");
     request.setRequestHeader("email", this.email);
     request.send();
     this.movimientos = JSON.parse(request.responseText);
     console.table(this.movimientos);
     for (x=0;x<this.movimientos.length;x++){
     console.log(this.movimientos[x].importe);
     total = total + this.movimientos[x].importe;
     console.log("total " + total);

     }
     this.saldo=total;
   }*/
 }
   window.customElements.define(PortafinveApp.is, PortafinveApp);
 </script>
</dom-module>
